/* Credits to Gustavo Vituri for images
https://gvituri.itch.io/space-shooter 
*/

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: black;
    color: white;
}

#space-background {
    /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;

  /* Sending to the back */
  z-index: -99;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
    img.bg {
        left: 50%;
        margin-left: -512px;   /* 50% */
    }
}

#USSHW {
    color: white;
}

#aliens {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.ships {
    color: green;
    transform: rotate(180deg);
}